<!DOCTYPE html>
<html>
<head>
  .container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  .container img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
</head>
</html>